@font-face
  font-family: NotoEmojiRegular
  src: url( '../fonts/NotoEmoji-Regular.ttf' )





.MushroomSearch
  height: 100vh
  display: flex
  justify-content: center
  align-items: center





.TreasureContainer
  position: relative
  user-select: none
  overflow: hidden
  border: 1px dashed black
  border-radius: 2px
  width: 500px
  height: 400px

@media ( min-aspect-ratio: 1/1 )
  .TreasureContainer
    width: 60vh
    height: 60vh

@media ( max-aspect-ratio: 1/1 )
  .TreasureContainer
    width: 60vw
    height: 60vw





.Grabbable
  position: absolute
  transition-timing-function: linear





.Emoji
  font-family: NotoEmojiRegular, monospace
  color: white
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
  position: relative
