::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: blue;
}

::-webkit-scrollbar-thumb:hover {
  background: blue;
}
